/node_modules
/public/hot
/public/build
/public/storage
/public/vendor/*
/storage/*.key
/vendor
/bootstrap/ssr
.env
.env.backup
.env.testing
.env.dusk.*
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/
.DS_Store
*iml
repl.js
/html/
auth.json
schema.graphql
webpack.alias.js
/disk/*
!/disk/.gitkeep
*.map
*.tar
*.o
*.elf
*.bin
*.log
*.pcap
